@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}
.dark{background-color:rgba(0,0,0,.7);display:inline-block}

section{clear:both}
main{margin:0 auto;width:998px;position:relative}

header{}

#header{}

#what{}

#avto{background-color:white}
#avto h2{text-transform:uppercase;text-align:center;font:bold 46px "Trebuchet MS";color:#ffcb00;padding-top:35px}
#avto h3{font:bold 21px "Trebuchet MS";text-align:center;color:#a3a3a3;padding-top:20px}
#avto img{padding:40px 20px;}

#present{}

#why{}

#sale{}

#price{}

#number{}

#projects{}

#map{}

footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none}
#splash main{text-align:center;top:150px}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}